@model ForumSystem.Models.Question
    @using ForumSystem.Classes
    @using ForumSystem.Models
@{
    ViewBag.Title = "Detail about";
    Utiles.QustionId = Model.QuestionId;
   
}

<h2>@Html.DisplayFor(model => model.Title) </h2>

<div>
    <h4>Questioned by @Html.ActionLink(Html.DisplayFor(model => model.Author.UserName).ToString(), "Index", "Manage")</h4>
    <hr />
    <dl class="dl-horizontal">       
       
        <div>
            <div>
                @Html.DisplayFor(modelItem => modelItem.Body)
            </div>
            <br />
            @if (Model.Author.UserName == User.Identity.Name)
            {
                @Html.ActionLink("Delete", "Delete", new { id = Model.QuestionId }) <span>|</span>
                @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }) <span>|</span>
            }
            <br />
            <hr />
            
            <br />
            
            @foreach (var comment in Model.Comments)
            {
                <div>
                    <div>@comment.CommentText</div>
                    <div>
                        Add By :
                        @if (comment.Author != null)
                        {
                            @comment.Author.UserName
                        }
                        else
                        {
                            @:anonymous
                    }
                    </div>
                    @if(comment.Author != null && comment.Author.UserName == User.Identity.Name)
                    {
                        @Html.ActionLink("Delete Comment", "Delete", "Comments", new { id = comment.CommnetId},null)<span>&nbsp;|&nbsp;</span>
                        @Html.ActionLink("Edit Comment", "Edit", "Comments", new { id = comment.CommnetId }, null)
                    }
                </div>
                <br />
                <hr />
            }
        </div>
        
            
        
    </dl>
</div>
<p>
         
    @Html.ActionLink("Add Comment","Create","Comments")<span>&nbsp;|&nbsp;</span>    
    @Html.ActionLink("Back to List", "Index")
</p>
