@model ForumSystem.Models.Question
    @using ForumSystem.Classes
    @using ForumSystem.Models
@{
    ViewBag.Title = "Detail about";
    Utiles.QustionId = Model.QuestionId;
   
}

<h2>@Html.DisplayFor(model => model.Title) </h2>

<div>
    <h4>Questioned by @Html.ActionLink(Html.DisplayFor(model => model.Author.UserName).ToString(),
                     "ProfileIndex", "Manage",new { id = Model.Author.Id },null)</h4>
    <hr />
    <dl class="dl-horizontal">       
       
        <div class="question">
            <div>Rating:@Model.Ranking</div>
            <br />
            <div>
                @Html.DisplayFor(modelItem => modelItem.Body)
            </div>
            <hr />
            @if (Model.Author.UserName != User.Identity.Name)
            {
                <span>@Html.ActionLink("Like", "Like", "Questions", new { id = Model.QuestionId }, null)&nbsp; &nbsp;</span>
                <span>@Html.ActionLink("Dislike", "Dislike", "Questions", new { id = Model.QuestionId }, null)</span>
                <br />
            }
            
            @if(Model.Tags != null)
            {
                <br />
                <span>Tags:</span>
                foreach(var tag in Model.Tags)
                {
                    <span>@Html.ActionLink(("#" + tag.TagText), "Index", "Tags",new { id = tag.TagId },null)
                        &nbsp;&nbsp;
                    </span>
                    
                }
                <br />
            }
            @if (Model.Author.UserName == User.Identity.Name)
            {   
                <br />
                @Html.ActionLink("Delete question", "Delete", new { id = Model.QuestionId }) <span>&nbsp;&nbsp;</span>
                @Html.ActionLink("Edit question", "Edit", new { id = Model.QuestionId }) <span>&nbsp;&nbsp;</span>
                @Html.ActionLink("Add Tag", "Create", "Tags")
            }
            <hr />          
            <h3>Comments:</h3>
            <hr />
            <br />
            @foreach (var comment in Model.Comments)
            {
                <div>
                    <div>@comment.CommentText</div>
                    <div>
                        
                        @if (comment.Author != null)
                        {
                            <div>Rating: @comment.Rating</div>
                            <span>Added by:</span>
                            @Html.ActionLink(comment.Author.UserName, "ProfileIndex","Manage",new { id = comment.Author.Id},null)
                            <br />
                            if (comment.Author.UserName != User.Identity.Name)
                            {
                                <br />
                                <span>@Html.ActionLink("Like", "Like", "Comments", new { id = comment.CommnetId }, null)</span>
                                <span>@Html.ActionLink("Dislike", "Dislike", "Comments", new { id = comment.CommnetId }, null)</span>
                            }

                        }
                        else
                        { <span>Added By:</span>
                            @:anonymous
                    }
                    </div>
                    @if(comment.Author != null && comment.Author.UserName == User.Identity.Name)
                    {
                        @Html.ActionLink("Delete Comment", "Delete", "Comments", new { id = comment.CommnetId},null)<span>&nbsp;&nbsp;</span>
                        @Html.ActionLink("Edit Comment", "Edit", "Comments", new { id = comment.CommnetId }, null)                       
                    }
                </div>
                <br />
                <hr />
            }
        </div>
        
            
        
    </dl>
</div>
<p>
         
    @Html.ActionLink("Add Comment","Create","Comments")<span>&nbsp;|&nbsp;</span>    
    @Html.ActionLink("Back to List", "Index")
</p>
