@model IEnumerable<ForumSystem.Models.Question>
    @using ForumSystem.Classes
    @using ForumSystem.Models

@{
    ViewBag.Title = "All Questions";
    ApplicationDbContext db = new ApplicationDbContext();
}

<h2 class="page-text">List of all asked questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table all-questions-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)         
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Author
        </th>
        <th>
            Comments number
        </th>
        <th>
            Rating
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Utiles.SplitBody(Html.DisplayFor(modelItem => item.Body).ToString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.UserName)
        </td>
        <td>
          @db.Comments.Where(c => c.QuestionId == item.QuestionId).ToList().Count()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ranking)
        </td>
        <td>
            @Html.ActionLink("See more", "Details", new { id=item.QuestionId }) 
        </td>
        
    </tr>
}

</table>
