@model ForumSystem.Models.IndexViewModel
@{
    ViewBag.Title = "My profile";
}

<h2 class="page-text">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4 class="page-text">Change Settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="page-text">Password:</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            
        </dd>
        <br />
        <dt class="page-text">Check forum Activity:</dt>
        <dd>@Html.ActionLink("My activity", "ProfileIndex", "Manage", new { id = Model.ProfileId }, null)</dd>
    </dl>
</div>
